name: Build lowlighter/metrics

on: 
  # push:
  #   branches:
  #     - master
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Run lowlighter/metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_PAT }}
          user: Hans5958
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Jakarta
          output_action: none
          config_display: large

          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          plugin_code: yes
          plugin_code_days: 3
          plugin_code_lines: 12
          plugin_code_load: 400
          plugin_code_visibility: public
          plugin_followup: yes
          plugin_followup_archived: yes
          plugin_followup_indepth: yes
          plugin_followup_sections: repositories
          plugin_gists: yes
          plugin_habits: yes
          plugin_habits_charts_type: classic
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200
          plugin_habits_languages_limit: 8
          plugin_habits_languages_threshold: 0%
          plugin_introduction: yes
          plugin_introduction_title: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_other: yes
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 4
          plugin_lines_sections: base
          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_indepth: yes
          plugin_notable_types: commit
          plugin_people: yes
          plugin_people_limit: 24
          plugin_people_size: 28
          plugin_people_types: followers
          plugin_rss: yes
          plugin_rss_limit: 4
          plugin_rss_source: https://hans5958.github.io/blog/rss.xml
          plugin_stars: yes
          plugin_stars_limit: 8
          plugin_music_token: ${{ secrets.LASTFM_API_KEY }}
          plugin_music: yes
          plugin_music_provider: lastfm
          plugin_music_user: Hans5958
          plugin_music_mode: recent
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Move
        run: |
          sudo mv /metrics_renders/* ./
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: Update lowlighter/metrics
          author_name: Auto5958
          author_email: 69833949+Auto5958@users.noreply.github.com
          add: github-metrics.* --force
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}